<div class="hero-unit">
	<h1 class="text-info">Temario</h1>
	<div class="row-fluid">
		<div class="span3">
			<%= image_tag("seguridad.png")%>
			<%= image_tag("exploit.jpg")%>			
		</div>
		<div class="span9">
			<p>
				Los beneficios no sólo se ven reflejados en la parte técnica y operacional de la organización, sino en
				organizaciones o empresas donde sus actividades repercuten de forma directa en el cliente, los beneficios
				reflejan una buena imagen y reputación corporativa que en ocasiones es más valiosa que las mismas pérdidas
				económicas, por ejemplo los bancos, a quienes les importa demasiado la imagen que ofrecen al cliente
			</p>
			<p>
				descripcion 3, Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
				descripcion 3, Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
				descripcion 3, Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
				descripcion 3, Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
			</p>
		</div>
	</div>
</div>

