<div class="hero-unit">
	<h1 class="text-info">CRONOGRAMA HACKDAY</h1>
	<h2>SÁBADO 07 de Setiembre, 2013</h2>
	<p class>Agregar texto para indicar algunas notas</p>
	<table class="table">
		<thead>
			<tr>
				<th>Hora</th>
				<th>Temas</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>10:00 - 11:00</td>
				<td>Mencionar actividades programadas</td>							
			</tr>
			<tr>
				<td>11:00 - 12:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>12:00 - 01:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>01:00 - 02:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>02:00 - 03:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>03:00 - 04:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>04:00 - 05:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>05:00 - 06:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>06:00 - 07:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>07:00 - 08:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>			
		</tbody>
	</table>
	<h2>Domingo, 08 de Setiembre, 2013</h2>
	<p class>Agregar texto para indicar algunas notas</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Hora</th>
				<th>Temas</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>08:00 - 09:00</td>
				<td>Mencionar actividades programadas</td>							
			</tr>
			<tr>
				<td>09:00 - 10:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>10:00 - 11:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>11:00 - 12:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>12:00 - 01:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>01:00 - 02:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>02:00 - 03:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>03:00 - 04:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>04:00 - 05:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>
			<tr>
				<td>05:00 - 06:00</td>
				<td>Mencionar actividades programadas</td>
			</tr>			
		</tbody>
	</table>
</div>
<div class="inscripcion">
	<p><%= link_to "Reservar cupón",new_persona_path, :class => 'btn btn-primary'%></p>
</div>
