<div class="inscripcion">
	<h2>Vacantes limitadas</h2>
	<p>Te esperamos</p>
	<p><%= link_to "Reservar cupo",new_persona_path, :class => 'btn btn-primary'%></p>
	<p class="seguir">Siguenos en facebook para mayor información</p>
	<%=link_to image_tag("facebook.png", :size => "40x40"),"https://www.facebook.com/events/186894391488684/?fref=ts"%>
</div>
