<div class="text-center">
	<p>_________________________________________________________</p>
	<p><%= link_to image_tag("inversion.png"), root_path %></li></p>
	<p>_________________________________________________________</p>
</div>
<div class="row-fluid">		
	<div class="span6">			
		<div class="text-success">
			<h2>INVERSIÓN PONENCIA </h2>
			<h3>(Por 2 ponencias)</h3>
			<table class="table ">
				<thead>
					<tr>
						<th>Estudio</th>
						<th>Tarifa</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>Profesional</td>
						<td>S/. 80.00</td>
					</tr>
					<tr>
						<td>Estudiante pre-grado</td>
						<td>S/. 60.00</td>
					</tr>
				</tbody>
			</table>
			<h4>Incluye Certificado</h4>								
		</div>
	</div>		
	<div class="span6">			
		<div class="text-success">
			<h2>INVERSIÓN TALLER</h2>
			<h3>(Por 1 taller)</h3>
			<table class="table ">
				<thead>
					<tr>
						<th>Estudio</th>
						<th>Tarifa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Profesional</td>
						<td>S/.120.00</td>
					</tr>
					<tr>
						<td>Estudiante pre-grado</td>
						<td>S/. 80.00</td>
					</tr>
				</tbody>
			</table>
			<h4>Incluye Certificado</h4>								
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<h2>INFORMES</h2>
		<h4 text="text-warning">Descargue aquí más información acerca del evento y los costos</h4>
		<%= link_to image_tag("cloud.png"),"http://www.mediafire.com/folder/lafrqdh45m542/Hackday"%>		
	</div>
	<div class="span2"><%= image_tag("oferta.png")%></div>
	<div class="span6">
		<div class="text-success">
			<h2>INVERSIÓN TALLER</h2>
			<h3>(Por 2 talleres)</h3>
			<table class="table ">
				<thead>
					<tr>
						<th>Estudio</th>
						<th>Tarifa	</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Profesional</td>
						<td>S/.200.00</td>
					</tr>
					<tr>
						<td>Estudiante pre-grado</td>
						<td>S/.140.00</td>
					</tr>
				</tbody>
			</table>
			<h4>Incluye Certificado</h4>								
		</div>
	</div>
</div>	
