<h1 class="text-info">Ponencias</h1>
<div class="row-fluid">				
	<div class="span6">
		<div class="thumbnails"><%= link_to image_tag("logo.png"), root_path %></div>
	</div>
	<div title="" data-original-title="" class="span6">
		<div class="lugar">
			<h2>Lugar del encuentro</h2>
			<p>Auditorio de la escuela de Ingeniería en Industrias Alimentarias</p>
			<h2>Fecha</h2>
			<h4 class="text-center">07 y 08 septiembre</h4>	
			<h2>Horas</h2>
			<h4 class="text-center">De 09:30 a 13:00</h4>									
		</div>            
	</div>				  
</div>
<div class="row-fluid">
	<div class="span6">
		<h3 class="text-info">La actualidad de la seguridad Informática en el Perú</h3>
		<ul class="text-muted">
			<li>Introducción</li>
			<li>Ataque a las instituciones peruanas</li>
			<li>¿Quiénes son los Hackers?.</li>
			<li>Hacktivismo en el Perú: Anonymous y LulzSec.</li>
			<li>La internet en el Perú.</li>
			<li>Legislación peruana sobre el hacktivismo: Ley 29733 y ley Beingolea</li>
			<li>Benchmarking de la seguridad informática en el Perú y latinoamerica.</li>
			<li>Conclusiones</li>
		</ul>
	</div>
	<div class="span6">
		<h3 class="text-info">Nuevas tendencias en el mundo del Hacking</h3></br>
		<ul class="text-muted">
			<li>Introducción a las nuevas tendencias.</li>					
			<li>Importancia de la ingeniería social.</li>
			<li>Android Mobile Hacking.</li>
			<li>La inseguridad de redes Wireless</li>
			<li>Las apliciones weby sus nuevos mecanismos de seguridad</li>
			<li>¿Qué nos espera en el futuro?</li>
			<li>Conclusiones</li>
		</ul>
	</div>
</div>

	
