<h1 class="text-info">Talleres</h1>
<div class="row-fluid">				
	<div title="" data-original-title="" class="span6">
		<div class="lugar">
			<h2>Lugar del encuentro</h2>
			<p>Laboratorio de la escuela de Ingeniería de Informatica y Sistemas</p>
			<h2>Fecha</h2>
			<h4 class="text-center">07 y 08 septiembre</h4>	
			<h2>Horas</h2>
			<h4 class="text-center">De 15:00 a 20:00</h4>									
		</div>            
	</div>
	<div title="" data-original-title="" class="span6">					
		<%= link_to image_tag("cad.png"), root_path %>					
	</div>						  
</div>
<div class="row-fluid">				
	<div class="span6">
		<h3 class="text-info">Taller de Ethical Hacking y Pentesting</h3>
		<ul class="">				
			<li>Introducción y Metodologías de Ethical Hacking:
				<P class="subtexto"><i class="icon-book icon-white"></i> OSSTMM.</P>
				<p class="subtexto"><i class="icon-book icon-white"></i> ISSAF.</p>
				<P class="subtexto"><i class="icon-book icon-white"></i> Ataque de negación de servicio (DOS).</P>
			</li>				
			<li>Identificación de objetivos de ataque:
				<p class="subtexto"><i class="icon-book icon-white"></i> Footprinting e identificadores de la organización.</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Scannig de servidores.</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Enumeración de puertos y servicios.</p>
			</li>
			<li>Análisis de Vunerabilidades
				<p class="subtexto"><i class="icon-book icon-white"></i> Descubrimiento de vunerabilidades en sistemas operativos y apliciones web</p>
			</li>
			<li>Penetración Testing
				<p class="subtexto"><i class="icon-book icon-white"></i> Explotación de vunerabilidades identificadas en sistemas operativos y apliciones web</p>
			</li>
			<li>Introducción a la seguridad de apliciones Web
				<p class="subtexto"><i class="icon-book icon-white"></i> Explotación de vunerabilidades identificadas</p>
			</li>
		</ul>
	</div>
	<div class="span6">
		<h3 class="text-info">Taller de Ethical Hacking en Aplicaciones Web</h3>
		<ul class="">
			<li>Introducción</li>
			<li>Análisis de las metodologias de seguridad informáticas y diversos tipos de ataque:
				<p class="subtexto"><i class="icon-book icon-white"></i> OWASP</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Defacements</p>
			</li>
			<li>Identificación de los objetivos de ataque:
				<p class="subtexto"><i class="icon-book icon-white"></i> Footprinting e identificación de la organización</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Scannig de servidores</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Enumeración de puertos y servicios</p>
			</li>
			<li>Analisis de Vunerabilidades
				<p class="subtexto"><i class="icon-book icon-white"></i> Descubrimiento de vunerabilidades en Apliciones Web</p>
			</li>
			<li>Penetration Testing
				<p class="subtexto"><i class="icon-book icon-white"></i> Inyecciones SQL básicas</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Inyecciones SQL Avanzadas</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Upload de archivos maliciosos</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> XSS</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> Inyecciones de código</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> RFI</p>
				<p class="subtexto"><i class="icon-book icon-white"></i> LFI</p>
			</li>
			<li>Tecnicas de remediación, prevención</li>				
		</ul>
	</div>
</div>

