<div class="hero-unit">
	<%= render "taller"%>
	<br>
	<div class="nota">NOTA: SI DESEA PARTICIPAR EN TALLERES RESERVE SU ASISTENCIA LO MAS ANTES POSIBLE, CAPACIDAD LIMITADA DE 25 PERSONAS</div>
	<br>
	<%= render "home/informe"%>
	<div class="text-center"><%= render "descargar"%></div>	
</div>

