<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Confirmar</a>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel" class="text-info">Términos y condiciones</h3>
</div>
<div class="modal-body">
	<ol class="lista">
		<li>Al momento de registrarse usted se compromete a asistir al evento</li>
		<li>Usted se compromete a cuidar el ambiente que se le facilitará</li>
		<li>Cualquier falta y/o problema se aténdera al momento y se tomaran la medidas necesarias, así no encuentren estipuladas en los incisos.</li>
	</ol>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
<button class="btn btn-primary">Acepto</button>
</div>
</div>
