// Place all the styles related to the conferencia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.span9{
	text-align: justify
}
.inscripcion{
	text-align:center;
	color:#FFA500;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	text-shadow: 0 0 30px rgb(71, 198, 71);
}
