// Place all the styles related to the Personas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-unit{
	background:rgba(0,0,0,0.8);	
	*color:#0070CC;
	color: white;
	font-family: "Bank Gothic", "Futura", "Arial";
	.modal-body{
		color: #1E90FF;
		text-align:left;
	}
}

